main{
	display: block;

}
div{
	width: 60%;
	border-style: groove;
	border-radius: 6px;
	margin: auto;
	margin-top: 2%;
	padding: 10px;
	overflow: auto;
	background: linear-gradient(-60deg,  #A641FF, #7A8AFC);
	background-size: 400% 400%;
	animation: fondoAnimado 10s ease infinite;

}
@keyframes fondoAnimado{
	0%{
		background-position: 0% 50%;
	}
	50%{
		background-position: 100% 50%;
	}
	100%{
		background-position: 0% 50%;
	}
}
input{
	width: 32%;
	height: 30px;
	margin: auto;
	margin-top: 15px;
	border-radius: 8px;
	display: inline;
	box-sizing: border-box;
	outline: none;
}
button{
	display: block;
	height: 50px;
	padding: 10px;
	margin: auto;
	margin-top: 15px;
	color: white;
	border-radius: 15px;
	background-color: #FF62FF;
	outline: none;
	font-size: 20px;
	font-family: 'Dancing Script';	
}
button:hover{
	background-color: #FFA3FF;

}
table{
	font-family: 'Architects Daughter', cursive;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}
th, td{
	padding: 10px;
}
thead{
	background-color: #E11FB8;
	border-bottom: solid 5px #80196A;
	color: white;
	text-align: center;
}
tr:nth-child(2n){
	background-color: #C3BEBE;
	color: black;
}
tr:nth-child(2n+1) td{
	background-color: white;
	color: black;
}
tr:hover td{
	background-color: #FF57DC;
	color: white; 
}

#nombre{
	display: block;
	width: 100%;
}
#notas{
	width: 100%;
	border: none;
}